.element__delete-button {
    background-image: url(../../../logo/delete-pic.svg);
    background-repeat: no-repeat;
    width: 18px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 15px;
    background-size: 100%;
    background-color: inherit;
    color: #FFFFFF;
    border: 0;
}

.element__delete-button:hover {
   cursor: pointer;
   opacity: 0.8;
}

