@import url(./__logo/header__logo.css);

.header {
    max-width: 882px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    max-height: 74px;
    margin-top: 45px;
    margin-left: 199px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    box-sizing: border-box;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .header {
        max-width: 100%;
        margin-top: 0;
        margin-left: 0;
        padding-top: 28px
    }
}
