.popup-image-zoomed__image-title {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  margin-bottom: 0px;
  margin-top: 10px;
}
