.element__like-button {
    width: 20px;
    height: 18px;
    background-image: url(../../../logo/like-elements-mesto.svg);
    align-self: center;
    background-size: 100%;
    background-position-y: bottom;
    background-color: inherit;
    border-style: none;
}

.element__like-button:hover {
    cursor: pointer;
    opacity: 0.6;
}



