.popup__item {
    border: 0;
    width: 100%;
    border-bottom: 1px solid #000000;
    margin-top: 13px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}
.popup__item:first-of-type {
    margin-top: 0;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
   .popup__item {
        font-size: 14px;
        line-height: 17px;
        margin-top: 30px;
    }
}
